################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/inicio_website/FileContentIndex/2054f9ca-bc2d-4aeb-b80e-400f276dfec0.vsidx
/.vs/inicio_website/FileContentIndex
/.vs/slnx.sqlite
